{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class="list-group">
    <a href="{% url 'topwear' %}" class='list-group-item list-group-item-action'>All Top Wear Product</a>
    <a href="{% url 'topweardata' 'Fu-Wang' %}" class='list-group-item list-group-item-action'>Fu-Wang</a>
    <a href="{% url 'topweardata' 'Polo' %}" class='list-group-item list-group-item-action'>Polo</a>
    <a href="{% url 'topweardata' 'below' %}" class='list-group-item list-group-item-action'>Below 450</a>
    <a href="{% url 'topweardata' 'above' %}" class='list-group-item list-group-item-action'>Above 450</a>
   </div>
  </div>
  <div class="col-sm-8 offset-sm-1">
   <div class="row">
    {% for product in topwear %}
        <a href="{% url 'product-detail' product.id %}" class="btn">
            <div class="item">
                <img src="{{product.product_image.url}}" alt="" class='img-fluid' width='200'>
                <div class="fw-bold">{{product.title}}</div>
                <div class="fw-bold">{{product.discounted_price}}</div>
                <div class="fw-light text-decoration-line-through">{{product.selling_price}}</div>
            </div>
        </a>
    {% endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}